*{
    margin: 0;
    padding: 0;
}

:root{
    /*Colors*/
    --text-color: #f0f8ff;
    --navbar-color: #1e1e1e;
    --border-color: #757272;
    --hover-color: #757272;
    --box-shadow-color: #f0f8ff;
    --top-menu-color: #000000;
    --search-menu-back-color:#4b4b4b;
    --main-color: #313131;
}

body{
    box-sizing: border-box;
   font-family: sans-serif;
   font-size: 15px;
   line-height: 1.5;
}

#header{
    width: 100%;
    display: flex;
    background-color: var(--border-color);
    margin: auto;
    min-height: 75px;
    align-items: center;
    top: 0;
}
#nav-bar{

}
#nav-bar ul{
    list-style: none;
}
#nav-bar ul li{
    display: inline;
    padding: 2px;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color);
}
.logo{
    width: 30vh;
}
.logo img{
    width: 30%;
}
.logo i{
    color: var(--text-color);
}
.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

