*{
    margin: 0;
    padding: 0;
}

:root{
    /*Colors*/
    --hue-color:206;
    --black-color: hsl(var(--hue-color),4%,4%);
    --black-color-alt: hsl(var(--hue-color),4%,4%);
    --text-color: hsl(var(--hue-color),4%,75%);
    --text-color-light: hsl(var(--hue-color),4%,65%);
    --body-color: hsl(var(--hue-color),4%,6%);
    --conteiner-color: hsl(var(--hue-color),4%,10%);
    --white-color:#fff;
    --title-color: hsl(var(--hue-color),4%,95%);
    --text-gradient: linear-gradient(hsl(var(--hue-color),4%,24%),hsl(var(--hue-color),4%,8%));
    /*fonts*/
    --body-font: sans-serif;
    --body-font-size: 15px;
    --body-line-height: 1.5;
}

body{
    box-sizing: border-box;
   font-family: var(--body-font);
   font-size: var(--body-font-size);
   line-height: var(--body-line-height);
}

#header{
    width: 100%;
    display: flex;
    background-color: var(--border-color);
    margin: auto;
    min-height: 75px;
    align-items: center;
    top: 0;
}
#nav-bar{

}
#nav-bar ul{
    list-style: none;
}
#nav-bar ul li{
    display: inline;
    padding: 2px;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color);
}
.logo{
    width: 30vh;
}
.logo img{
    width: 30%;
}
.logo i{
    color: var(--text-color);
}
.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

